.sidebarWrapper {
  width: 100%;
  position: sticky;
  top: 20px;
  max-width: 300px;
  margin-left: auto;
}

.sidebarBox {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .sidebarWrapper {
    display: none; /* Hide sidebar on smaller screens */
  }
}